.my-faq-background{
    background-image: url("../../assets/images/img_faq_golf.png");
    background-attachment: scroll;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}
.show_faq_golf{
    display:flex;
}
.responsive_padding{
    padding-right: 100px;
}
@media screen and (max-width:768px){
    .show_faq_golf{
        display:none;
    }
    .responsive_padding{
        padding-right: 0;
    }
    
}