.btn-discord{
    border-color: blue;
    background-color: black;
    border-radius: 20px;
}
.nav-item .nav-link:hover{
    border-bottom: 2px solid #6EC1E4;
}
.my-logo
{
    color: #2884E4!important;
    font-family: "Montserrat", Sans-serif;
    font-size: 20px;
    font-weight: 800;
}