.btn-discord{
    border-color: blue;
    background-color: black;
    border-radius: 20px;
    padding:3px 10px;
}
.btn-twitter{
    
    background-color: black;
    border-radius: 50%;
    color:white;
    /* padding:5px; */
}
.nav-item .nav-link:hover{
    border-bottom: 2px solid #6EC1E4;
    /* text-underline-position: below; */
}
.my-logo
{
    color: #2884E4!important;
    font-family: "Montserrat", Sans-serif;
    font-size: 20px;
    font-weight: 800;
}
.myheader{
    border-bottom: 1px solid black;
    
}
ul li {
    margin:3px;
}
.logo-image{
    width:40px;
    background-color:black;
}

@media screen and (max-width:768px){
    .logo-image{
        width:150px;
    }
    
}